<ion-header>
  <ion-toolbar class="barra">
    <ion-title>
      Registro de Usuario
    </ion-title>
    <ion-button (click)="volver()" slot="start" class="barra">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="barra">
  <div class="login-container">
    <div class="XD">
  <ion-img src="assets/cat.svg"></ion-img>
    </div>
  <ion-item class="barra">
    <ion-label position="floating">Usuario</ion-label>
    <ion-input [(ngModel)]="usuario" type="text"></ion-input>
  </ion-item>

  <ion-item class="barra">
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre" type="text"></ion-input>
  </ion-item>

  <ion-item class="barra">
    <ion-label position="floating">Apellido</ion-label>
    <ion-input [(ngModel)]="apellido" type="text"></ion-input>
  </ion-item>

  <ion-item class="barra"> 
    <ion-label position="floating">Correo</ion-label>
    <ion-input [(ngModel)]="correo" type="email"></ion-input>
  </ion-item>

  <ion-item class="barra">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="contrasena" type="password"></ion-input>
  </ion-item>

  <ion-button class="btn"  (click)="registrarUsuario()">Registrar</ion-button>
  </div>
</ion-content>
