<ion-header [translucent]="true">
  <ion-toolbar class="barra">
    <ion-title>Registro</ion-title>
    <ion-back-button defaultHref="/" slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="barra">
  <div class="centrar">
    <ion-label position="floating">Nombre de usuario</ion-label>
  <ion-item class="fondo input ion-margin-top" lines="none">
    <ion-input label="Usuario" labelPlacement="floating" [(ngModel)]="user"></ion-input>
  </ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-item class="fondo input ion-margin-top" lines="none">
      <ion-input label="Contraseña" labelPlacement="floating" [(ngModel)]="con" type="password"></ion-input>
    </ion-item>
  <ion-button expand="full" (click)="registrar()">Registrarse</ion-button>
  </div>
</ion-content>
