<ion-header [translucent]="true">
  <ion-toolbar class="barra">
    <ion-title>Registro</ion-title>
    <ion-back-button defaultHref="/" slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="barra">
  <div class="login-container">
    <div class="XD">
      <ion-img src="assets/registro.svg"></ion-img>
    </div>
      <ion-label position="floating">Ingrese el Nombre de Usuario</ion-label>

    <ion-item class="input-field butin" lines="none">
      <ion-input label="Usuario" labelPlacement="floating" [(ngModel)]="nuevo_usuario"></ion-input>
    </ion-item>

    <ion-label position="floating">Ingrese su Contraseña</ion-label>
    
    <ion-item class="input-field butin" lines="none">
      <ion-input label="Contraseña" labelPlacement="floating" [(ngModel)]="nueva_contrasena" type="password"></ion-input>
    </ion-item>

  <ion-button class="login-button butin" (click)="registrar()">Registrarse</ion-button>
  </div>
  <ion-alert
[isOpen]="alertvacio"
header="Información"
message="No puede estar vacio"
[buttons]="alertButtons"
(didDismiss)="alertavacia(false)">
</ion-alert>
</ion-content>
