<ion-header>
  <ion-toolbar class="barra">
    <ion-title>
      Iniciar Sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="barra">
  <div class="login-container">
    <div class="XD">
  <ion-img src="assets/loginsvg.svg"></ion-img>
    </div>
  <ion-item class="input-item"> 
    <ion-label position="floating">Nombre de Usuario</ion-label>
    <ion-input class="input-field" [(ngModel)]="usuario" type="text"></ion-input>
  </ion-item>

  <ion-item class="input-item">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input class="input-field" [(ngModel)]="contrasena" type="password"></ion-input>
  </ion-item>

  <ion-button class="btn" expand="full" (click)="inicioSesion()">Iniciar Sesión</ion-button>
  <ion-button class="btn" expand="full" (click)="registrar()">Registrate</ion-button>
  </div>
</ion-content>
