<ion-header [translucent]="true">
  <ion-toolbar class="barra">
    <ion-button (click)="volver()" slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="barra">

  <div class="login-container">
      <div class="XD">
    <ion-img src="assets/restablecer.svg"></ion-img>
      </div>
<ion-item class="input-field butin" lines="none">
  <ion-input label="Contraseña" labelPlacement="floating" [(ngModel)]="contrasena" type="password">
    Ingresa tu contraseña actual
  </ion-input>
</ion-item>
<ion-item class="input-field butin" lines="none">
  <ion-input label="Contraseña" labelPlacement="floating" [(ngModel)]="contrasenanueva" type="password">
    Ingresa tu nueva contraseña
  </ion-input>
</ion-item>
<ion-button class="login-button butin" (click)="confirmar()" >Cambiar contraseña</ion-button>
</div>
</ion-content>
