<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button defaultHref="/" slot="start"></ion-back-button>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-item>
  <ion-input [(ngModel)]="usuario">
    Ingresa tu usuario para restablecer tu contraseña
  </ion-input>
</ion-item>
<ion-item>
  <ion-input [(ngModel)]="contrasena">
    Ingresa tu contraseña para restablecerla
  </ion-input>
</ion-item>
</ion-content>
